.fl{float: left;}
.fr{float: right;}
.cl{clear: both;}
.mt{margin-top: 20px;}
.mr{margin-right: 20px;}
.ml{margin-left: 20px;}
.mb{margin-bottom: 20px;}
.pt{padding-top: 10px;}
.pl{padding-left: 10px;}
.pr{padding-right: 10px;}
.pb{padding-bottom: 10px;}
.tr{text-align: right;}
.tc{text-align: center;}
.rr{color:red}
